{% use "form_div_layout.html.twig" %}

{%- block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ 'input-textBox-label')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label -%}

{%- block form_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ 'input-textBox')|trim}) -%}
    {{- parent() -}}
{%- endblock form_widget -%}

{%- block number_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ 'input-textBox')|trim}) -%}
    {{- parent() -}}
{%- endblock number_widget -%}

{%- block textarea_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ 'input-textBox')|trim}) -%}
    {{- parent() -}}
{%- endblock textarea_widget -%}

{%- block integer_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ 'input-textBox')|trim}) -%}
    {{- parent() -}}
{%- endblock integer_widget -%}

{%- block form_row -%}
    <div class="input-container">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}