<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}
    {% endblock %}
    <script src="{{ asset('build/preRender.js') }}"></script>
    <script defer type="text/javascript" src="{{ asset('build/app.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
</head>
<body class="light">
<div class="header">
    <div class="header-left">
        <div class="header-title">
            NozAffiche Admin
        </div>
    </div>
</div>
<div class="main">
    {% block menu %}
    <div class="sidebar dp-none">
        <div class="sidebar-row sidebar-row-nb2">
            <div class="sidebar-item" id="sidebar-grow-button">
                <span class="sidebar-item-icon"><i class="fas fa-bars"></i></span>
                <span class="sidebar-item-text">Réduire</span>
            </div>
            <div class="sidebar-item" id="sidebar-pin-button">
                <span class="sidebar-item-text" id="sidebar-pin-button"><i class="fas fa-thumbtack"></i></span>
            </div>
        </div>
        <div class="sidebar-row">
            <a href="{{ path('logout') }}" class="sidebar-item" id="menu-user">
                <span class="sidebar-item-icon"><i class="fas fa-sign-out-alt"></i></span>
                <span class="sidebar-item-text">Se déconnecter</span>
            </a>
        </div>
        <div class="sidebar-row">
            <a href="{{ path('admin.categories.show') }}" class="sidebar-item" id="menu-user">
                <span class="sidebar-item-icon"><i class="far fa-list-alt"></i></span>
                <span class="sidebar-item-text">Catégories</span>
            </a>
        </div>
        <div class="sidebar-row">
            <a href="{{ path('admin.products.show') }}" class="sidebar-item" id="menu-user">
                <span class="sidebar-item-icon"><i class="fas fa-shopping-basket"></i></span>
                <span class="sidebar-item-text">Produits</span>
            </a>
        </div>
        {% block menuContent %}{% endblock %}
    </div>
    {% endblock %}
    <div class="content">
        {% block body %}{% endblock %}
    </div>
</div>
<div class="footer">
    <p>Cette application à été développé par le Pôle WEB - Univers NOZ © 2020. Pour nous contacter: <a  href="index.html">Envoyer un email</a>.</p>
</div>
</body>
</html>