<a href="{{ path('category.show', { 'id': category.id }) }}" class="box-container container-3 container-tab-4 container-pho-6">
    <div class="box">
        {#<div class="box-header icon-img">
            <img src="assets/img/set.icon.png" alt="">
        </div>#}
        <div class="box-header crop-img crop-img150">
            {% if category.imageName %}
                <img src="{{ vich_uploader_asset(category, 'imageFile') }}" alt="" class="card-img-top">
            {% else %}
                <img src="{{ asset('build/images/empty.jpg') }}" alt="" class="card-img-top">
            {% endif %}
        </div>
        <div class="box-body">
            <div class="box-title-medium">
                {{ category.nom }}
            </div>
            <div class="box-content">
                {{ category.description | nl2br }}
            </div>
        </div>
    </div>
</a>